.class-regist-main-container {
  width: 100%;
  min-height: 140vh;
  display: flex;
  flex-direction: column;
}

          /* ---------------------이후 요소 수정 및 통일 필요------------------*/
.header-select-container{
  display: flex;
  position: relative;
  justify-content: space-around;
  margin-bottom: 1%;
  padding-right: 8%;
  padding-left: 8%;
  
}
.header-select-container button{
  background-color: white;
  border: none !important;
  color: #BFBFBF;
  font-weight: bold;
}
.header-select-container span{
  padding: 1%;
}
.header-select-container button:hover{
  color: #002D56;
  cursor: pointer;
}

.img-container{
  width: 100%;
  display: flex;
  position: relative;
}

.codingzonetop-image{
  width:100%;
  position: absolute;
  height: 26vw;
  background-size: cover;
}

.main-category-bar {
  margin-bottom: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vw;
  width: 65vw;
  font-size: 1vw;
  padding: 0 12%;
}
.main-category-bar button {
  height: 80%;
  width: 50%;
  border: 1px solid #D0D5DD;
  background-color: white;
  font-size: 15px;
  color: #BFBFBF;
}
.main-category-bar button:hover {
  color: #002D56;
  background-color: white;
  border-color: #002D56;
}
.main-span{
  padding-right: 1%;
  padding-left: 1%;
}
          /* ---------------------여기까지 요소 수정 및 통일 필요------------------*/

.main-body-container {
  width: 100%;
  flex-direction: column;
  display: flex;
  overflow: auto;
  padding: 0 17%;
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

.category-bar {
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
  width: 100%;
  justify-content: space-between;
}

.reset-button {
  margin-left: 5%;
  border-radius: 5px; 
  transition: background-color 0.3s;
}

.reset-button:hover {
  background-color: red !important;
  border-color: white !important;
}

.category-bar button {

  height: 100%; /* 버튼의 높이를 컨테이너의 높이에 맞춤 */
  padding: 8px 16px; /* 내부 패딩 조정 */
  border-color: #BFBFBF;
  border: 1px solid #D0D5DD;
  background-color: white;
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  color: #BFBFBF;
  white-space: nowrap; /* 텍스트가 줄바꿈 되지 않도록 설정 */
}

.category-bar button:hover, .category-bar button.active {
  color: white;
  background-color: #002D56; /* 선택된 버튼과 호버 시 배경 색상 */
  border-color: #002D56; /* 선택된 버튼과 호버 시 테두리 색상 */
}
.main-span2{
  padding-right: 1%;
  padding-left: 1%;
}
.inner-category-bar{
  display: flex;
  align-items: center;
  justify-content: flex-start; /* 내용을 오른쪽으로 정렬 */
  position: relative;
  height: 80%;
  width: 100%;
}

.inner-category-bar2 {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* 내용을 오른쪽으로 정렬 */
  position: relative;
  height: 80%;
  width: 100%;
}

.separator {
height: 1px; /* 높이를 10픽셀로 설정 */
background-color: #A5A5A5; /* 배경색을 회색으로 설정 */

}
.main-category-name-container{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 45px;

}

.element-title {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: 35px; /* 고정된 높이로 변경 */
}

.part1-element-title {
  display: flex; /* 플렉스 컨테이너로 설정 */
  align-items: center;
  justify-content: center;
  position: relative;
  height: 90%;
  width: 100%;
  flex: 5; /* 부모 컨테이너 내에서 비율 설정 */
  flex-direction: row; /* 플렉스 아이템들을 가로로 배치 */
  white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
}
.part1-element-title p {
  flex: 1;  /* 각 p 태그가 공간을 균등하게 차지하도록 설정 */
  margin: 0 5px;
  text-align: center; /* 텍스트를 가운데 정렬 */
}

.weekDay, .weekTime, .assistent {
  display: inline-block; /* 요소들을 inline-block으로 설정 */
 /* 오른쪽에 20px의 공간을 추가 */
}
/* 마지막 요소의 경우 마진을 0으로 설정하여 여분의 공간을 제거 */
.assistent {
  margin-left: 1%;
}

.part2-element-title {
  display: flex; /* 플렉스 컨테이너로 설정 */
  align-items: center;
  justify-content: center;
  position: relative;
  height: 90%;
  width: 100%;
  flex: 4; /* 30% */
  flex-direction: row; /* 플렉스 아이템들을 가로로 배치 */
  white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
}
.part2-element-title p {
  flex: 1;  /* 각 p 태그가 공간을 균등하게 차지하도록 설정 */
  margin: 0 5px;
  text-align: center; /* 텍스트를 가운데 정렬 */
}
.className{
 margin-right: 70%;
}

.part3-element-title {
  display: flex; /* 플렉스 컨테이너로 설정 */
  align-items: center;
  justify-content: center;
  position: relative;
  height: 90%;
  width: 100%;
  flex: 3; /* 30% */
  flex-direction: row; /* 플렉스 아이템들을 가로로 배치 */
  white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
}
.part3-element-title p {
  flex: 1;  /* 각 p 태그가 공간을 균등하게 차지하도록 설정 */
  margin: 0 5px;
  text-align: center; /* 텍스트를 가운데 정렬 */
}
.grade{
  display: inline-block;


}
.maxPers{
  display: inline-block;
  padding-right: 20%;
}

.class-input-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.class-input-box {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  margin-bottom: 1%;
}

.class-input-box > .Day-input,
.class-input-box > .Time-input,
.class-input-box > .Date-input,
.class-input-box > .Assistant-input {
min-width: 0;
white-space: nowrap;
flex: 4; /* Day, Time, Assistent 입력필드의 비율 설정 */
}

.class-input-box > .ClassName-input {
min-width: 0;
white-space: nowrap;
flex: 10; /* ClassName 입력필드의 비율 설정 */
}

.class-input-box > .Grade-input,
.class-input-box > .MaxPers-input {
min-width: 0;
white-space: nowrap;
flex: 3; /* Grade, MaxPers 입력필드의 비율 설정 */
}
.class-input-box input{
margin-right: 5px;
padding: 5px;
}
.MaxPers-input{
margin-right: 0 !important;
}
.class-input-box select{
margin-right: 5px;
padding: 7.5px;
}

.button-area{
display: flex;
align-items: center;
position: relative;
height: 8%;
width: 100%;
justify-content: space-between;
}

.add-button-container button {
display: flex;
align-items: center;
justify-content: center;
background-color: transparent; /* 배경색 제거 */
border: none;
cursor: pointer; /* 커서 스타일 변경 */
width: 60px; /* 버튼의 너비 설정 */
height: 60px; /* 버튼의 높이 설정 */
padding: 10px; /* 버튼 내부 패딩 조정 */
transition: transform 0.3s ease; /* 애니메이션 효과 추가 */
}

.add-button-container button:hover {
transform: scale(1.1); /* 버튼이 10% 커지게 설정 */
}

.add-button-container svg {
width: 24px; /* SVG 아이콘의 크기 조정 */
height: 24px;
}

.class-submit-button{
margin-top: 1%;
margin-bottom: 1%;
display: flex;
align-items: center;
position: relative; 
height: 55px;
margin-right: 1%;

}
.class-submit-button button {
height: 45%;
width: 100%;
border-color: #002D56; /* 회색 테두리 색상 */
border: 1px solid #002D56;
background-color: white;
font-family: 'Inter', sans-serif;
font-size: 15px;
color: #002D56; /* 텍스트 색상 설정 */
}
.class-submit-button button:hover {
color: white;
background-color: #002D56; /* 배경 색상 변경 */
border-color: white; /* 테두리 색상 변경 */
}


/*수업 등록 요소*/

.separator2 {
height: 1px; /* 높이를 10픽셀로 설정 */
background-color: #A5A5A5; /* 배경색을 회색으로 설정 */

}
.main-category-name-container2{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 45px;

}

.element-title2 {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: 35px;
}

.part1-element-title2 {
  display: flex; /* 플렉스 컨테이너로 설정 */
  align-items: center;
  justify-content: center;
  position: relative;
  height: 90%;
  width: 100%;
  flex: 10; /* 40% */
  flex-direction: row; /* 플렉스 아이템들을 가로로 배치 */
  white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
}
.part1-element-title2 p {
  flex: 1;  /* 각 p 태그가 공간을 균등하게 차지하도록 설정 */
  margin: 0 5px;
  text-align: center; /* 텍스트를 가운데 정렬 */
}
.weekDay2, .weekTime2, .classDate2,.assistent2 {
  display: inline-block; /* 요소들을 inline-block으로 설정 */
}

.part2-element-title2 {
  display: flex; /* 플렉스 컨테이너로 설정 */
  align-items: center;
  justify-content: center;
  position: relative;
  height: 90%;
  width: 100%;
  flex: 6; /* 30% */
  flex-direction: row; /* 플렉스 아이템들을 가로로 배치 */
  white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
}
.part2-element-title2 p {
  flex: 1;  /* 각 p 태그가 공간을 균등하게 차지하도록 설정 */
  margin: 0 5px;
  text-align: center; /* 텍스트를 가운데 정렬 */
}

.part3-element-title2 {
  display: flex; /* 플렉스 컨테이너로 설정 */
  align-items: center;
  justify-content: center;
  position: relative;
  height: 90%;
  width: 100%;
  flex: 5; /* 30% */
  flex-direction: row; /* 플렉스 아이템들을 가로로 배치 */
  white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
}
.part3-element-title2 p {
  flex: 1;  /* 각 p 태그가 공간을 균등하게 차지하도록 설정 */
  margin: 0 5px;
  text-align: center; /* 텍스트를 가운데 정렬 */
}
.grade2{
  display: inline-block;
 
}
.maxPers2 {
  display: inline-block;
  margin-right: 15% !important;
}


.button-area2{
display: flex;
align-items: center;
position: relative;
height: 8%;
width: 100%;
justify-content: space-between;
}

.add-button-container2 button {
display: flex;
align-items: center;
justify-content: center;
background-color: transparent; /* 배경색 제거 */
border: none;
cursor: pointer; /* 커서 스타일 변경 */
width: 60px; /* 버튼의 너비 설정 */
height: 60px; /* 버튼의 높이 설정 */
padding: 10px; /* 버튼 내부 패딩 조정 */
transition: transform 0.3s ease; /* 애니메이션 효과 추가 */
}

.add-button-container2 button:hover {
transform: scale(1.1); /* 버튼이 10% 커지게 설정 */
}

.add-button-container2 svg {
width: 24px; /* SVG 아이콘의 크기 조정 */
height: 24px;
}

.class-submit-button2{
margin-top: 1%;
margin-bottom: 1%;
display: flex;
align-items: center;
position: relative; 
height: 55px;
margin-right: 1%;

}
.class-submit-button2 button {
height: 45%;
width: 100%;
border-color: #002D56; /* 회색 테두리 색상 */
border: 1px solid #002D56;
background-color: white;
font-family: 'Inter', sans-serif;
font-size: 15px;
color: #002D56; /* 텍스트 색상 설정 */
}
.class-submit-button2 button:hover {
color: white;
background-color: #002D56; /* 배경 색상 변경 */
border-color: white; /* 테두리 색상 변경 */
}
.invalid-date {
border: 2px solid red;
}

.remove-button {
border: none;
background: transparent;
align-items: center;
cursor: pointer;
}

.remove-button svg {
transition: transform 0.2s ease-in-out; /* 부드러운 애니메이션을 위한 트랜지션 */
}

.remove-button:hover svg {
transform: scale(1.2); /* 마우스 오버 시 SVG 크기 증가 */
}

@media (max-width: 1200px) {
  .main-body-container {
    transform: scale(1.1); /* 가로 세로로 커지게 설정 */
    padding: 0 14%; /* padding을 줄여서 외부 공간 줄이기 */
  }
}
/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 768px) {
  .main-body-container {
    padding: 0 10%; /* 더 작은 padding으로 외부 공간 최소화 */
  }
  .main-category-bar button, .category-bar button {
      font-size: 12px; /* 모바일에서의 폰트 크기 조정 */
  }
  .class-input-box > select, .class-input-box > input {
      flex-grow: 1; /* 플렉스 아이템이 확장하여 사용 가능한 공간을 채움 */
  }

}

@media (max-width: 510px) {
  .category-bar {
      flex-direction: column; /* 카테고리 바를 세로로 배열 */
      align-items: center;
  }
  .inner-category-bar2 {
    justify-content: center;
    margin-bottom: 10px;
  }
  .inner-category-bar {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .main-category-name-container2{
    margin-top: 45px;
  }
  .main-category-name-container{
    margin-top: 45px;
  }
}


