.select-container{
  display: flex;
  width: 60%;
  position: relative;
  left: 20%;
  justify-content: space-around;
  margin-bottom: 1%;
}
.select-container button{
  background-color: white;
  border: none !important;
}
.select-container span{
  padding: 1%;
}

.img-container{
  width: 100%;
  display: flex;
  position: relative;
}
.select-container button:hover{
  color: #164694f4;
  cursor: pointer;
}
.codingzonetop-image{
  width:100%;
  position: absolute;
  height: 26vw;
  background-size: cover;
}
.codingzone-body-container{
  width: 100%;
  flex-direction: column;
  position: relative;
  display: flex;
  height: auto;
}
.cz-category-date{
  margin-top: 1%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between; 
  height: 3vw;
  font-size: 0.8vw;
  width: 15%;
  margin-left: 43%
}
.cz-category-date button{
  height: 100%;
  border-color: #D0D5DD;
  background-color: white;
}
.cz-category-date button:hover{
  color: white;
  background-color: #002D56;
}
.codingzone-date{
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between; 
  height: 4vw;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 1%;

}
.codingzone-date button{
  width: 15%;
  height: 80%;
  background-color: white;
  border-color: #D0D5DD;
}
.category-name-container{
 
  width: 80%;
  position: relative;
  display: flex;
  margin-left: 10%;
  flex-direction: column;
 
}

.codingzone-title{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.codingzone-title .d-flex p {
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 1.2vw;
}
p.weekDay{
  margin-left: 3%;
}
.codingzone-list{
  display: flex;
  margin-top: 1%;
  position: relative;
  width: 80%;

  margin-left: 10%;
}
.cz-card{
  width: 100%;
}
.czcard{
  margin-bottom: 2%;
  background-color: #F6F6F6;
  width: 100%;
  height: 5vw;
  align-items: center;
  display: flex;
}
p.card-weekDay {
  color: #002D56;
  font-weight: 900;
  margin-left: 3%;
}
.czcard .d-flex p{
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 1.2vw;
}
.d-flex p {
  flex: 1; /* 모든 p 태그가 동일한 너비를 가지도록 설정 */
  font-weight: 500;
  text-align: center;
}
 
.codingzone-title .weekcount{
  margin-right: 7.9%;
}
 
p.card-currentNumber {
  color: #002D56;
  font-weight: 600;
 
}
.card-reservation{
  background-color: rgba(128, 128, 128, 0.189);
  border: none !important;
  width: 7%;
  margin-right: 1%;
  border-radius: 0.5vw;
}