.select-container{
  display: flex;
  width: 60%;
  position: relative;
  left: 20%;
  justify-content: space-around;
  margin-bottom: 1%;
}
.select-container button{
  background-color: white;
  border: none !important;
}
.select-container span{
  padding: 1%;
}

.img-container{
  width: 100%;
  display: flex;
  position: relative;
}
.select-container button:hover{
  color: #164694f4;
  cursor: pointer;
}
.codingzonetop-image{
  width:100%;
  position: absolute;
  height: 26vw;
  background-size: cover;
}
.codingzone-body-container{
  width: 100%;
  flex-direction: column;
  position: relative;
  display: flex;
  height: auto;
  margin-bottom: 5%;
}
.cz-category-top{
  margin-top: 1%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between; 
  height: 3vw;
  font-size: 0.8vw;
  width: 46%;
  margin-left: 43%
}
.cz-category-date{
  height: 100%;
}
.cz-category-date button{
  height: 100%;
  border-color: #D0D5DD;
  background-color: white;
}
.cz-category-date button:hover{
  color: white;
  background-color: #002D56;
}
.codingzone-date{
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between; 
  height: 4vw;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 1%;

}
.codingzone-date button{
  width: 15%;
  font-size: 1vw;
  height: 80%;
  font-weight: 700;
  background-color: white;
  border-color: #D0D5DD;
}
.cz-count-container{
  position: relative;
}
.category-name-container{
 
  width: 80%;
  position: relative;
  display: flex;
  margin-left: 10%;
  flex-direction: column;
 
}

.codingzone-title{
  display: flex;
  width: 100%;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
}
 
 
.codingzone-title .d-flex p {
  margin-top: 1%;
  flex: 1;
  margin-bottom: 1%;
  font-size: 1.2vw;
}
 
.codingzone-list{
  display: flex;
  margin-top: 1%;
  position: relative;
  width: 80%;
  margin-left: 10%;

}
.cz-card{
  width: 100%;
}
.czcard{
  margin-bottom: 2%;
  background-color: #F6F6F6;
  width: 100%;
  height: 5vw;
  align-items: center;
  display: flex;
}
 
.czcard .d-flex p{
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 1.1vw;
  font-family: Arial, Helvetica, sans-serif;
}
.d-flex p.card-weekDay {
  font-weight: 900;
  flex: 1;  
  text-align: center;  
  color: #002D56;
}
.d-flex p , .d-flex button{
  font-weight: 400;
  flex: 1;  
  text-align: center;  
  flex-basis: 0;
  box-sizing: border-box;
  padding: 0;
}
.card-hidden-space {
  flex: 2;  
  visibility: hidden;  
}
 
 
p.card-currentNumber {
  color: #002D56;
  font-weight: 600;
 
}
.card-reservation{
  background-color: rgba(128, 128, 128, 0.189);
  border: none !important;
  font-size: 1.2vw;
  border-radius: 0.5vw;
  
}