.codingzone-container{
  min-width: 360px;
}
.select-container{
  display: flex;
  margin: 0 auto;
  margin-bottom: 1%;
  max-width: 1000px;
}
.select-container button {
  background-color: white;
  border: none !important;  
  font-size: 13px;
  width: 200px;
}
.select-container span{
  font-size: 13px;
  width: 100px;
  justify-content: center;
  display: flex;
  flex: 1 4;
  min-width: 35px;
}
.select-container button:hover{
  color: #164694f4;
  cursor: pointer;
}
.select-container button.selected {
  color: #002D56;
  font-weight: bolder;
}
.select-container button.attendence {
  color:#002D56;

}
.codingzone-top-container {
  width: 100%;
  display: flex;
  align-items: center; 
  justify-content: center; 
  height: auto; 
  padding: 20px 10px; 
}

.codingzonetop2-image {
  max-width: 100%; 
  max-height: 330px; 
  display: block;
  margin: auto; 
  width: auto; 
}

.codingzone-body-container{
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 100px;
}
.cz-category-top{
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between; 
  font-size: 8px;
  margin-left: 39.5%;
}
.cz-category-date{
  display: flex;
}
.cz-category-date button{
  padding: 10px 1px;
  width: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid #D0D5DD;
  font-size: 10px;
  background-color: white;
}
.cz-1{
  margin-right: 10px;
}
.cz-category-date button:hover{
  color: white;
  background-color: #002D56;
}
.cz-category-date .cz-1.selected,
.cz-category-date .cz-2.selected {
  background-color: #002D56;
  color: white; /* 텍스트 색상 변경 (선택사항) */
}
.codingzone-date button.selected p {
  color: black;
  margin: 0;
  border-bottom: 2px solid #000;
  
}
.cz-count-container{
  font-size: 12px;
  margin-top: 25px;
}
.codingzone-date{
  display: flex;
  align-items: center;
  margin-top: 1%;
  
}
.codingzone-date button{
  width: 160px;
  font-size: 13px;
  height: 40px;
  font-weight: 700;
  background-color: white;
  border:none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.codingzone-date span{
  font-size: 13px;
  width: 50px;
  justify-content: center;
  display: flex;
  flex: 1 4;
  min-width: 10px;
}
.category-name-container{
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
  display: flex;
  height: 30px;
  flex-direction: column;
  justify-content: center;
}
.codingzone-title{
  display: flex;
  justify-content: space-between;
} 
.codingzone-list{
  margin-top: 1%;
}
.czcard {
  margin-bottom: 3%;
  background-color: #F6F6F6;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  display: flex;
}
.card-delete{
  background-color: #ff0000bf;
}
.czcard p, .codingzone-title p{
  margin: 0;
  font-size: 14px;
}
.weekDay,.weekTime,  .weekcount ,.registerbutton,.card-hidden-space, .card-classTime {
  text-align: center;  
  width: 100px;  
}
.weeksubject,.card-className {
  text-align: center;
  width: 300px;  
}
 .weekperson, .card-assistantName {
  text-align: center;
  width: 150px; 
 }

.card-weekDay {
  font-weight: 900;
  text-align: center;  
  color: #002D56;
  width: 100px;  
 
}
 .card-weekDate,.weekDate {
  text-align: center;
  width: 50px;  
}
 
.card-currentNumber {
  color: #002D56;
  font-weight: 600;
  text-align: center;
  width: 100px; 
 
}
.card-button-container, .card-hidden-space {
  width: 100px;
  display: flex;
  margin-top: 2px;
  justify-content: center;
}
.card-reservation,.card-delete {
  border: none !important;
  font-size: 12px;
  border-radius: 3px;
  width: 70%;
  padding: 7px 1px;
}
 
@media (max-width: 1000px) {
  .card-hidden-space {
    flex: 1 4 0;
    min-width: 0;
  }
  .cz-category-date button{
    width: 10vw;
  }
}
@media (max-width: 860px) {
  .cz-category-top {
    font-size: 8px;
  }
  .cz-category-date button{
    height: 100%;
    border-color: #D0D5DD;
    background-color: white;
  }
}
@media (max-width: 465px) {
  .czcard p, .codingzone-title p,.codingzone-date button{
    font-size: 12px;
  }
  .card-reservation, .card-delete{
    font-size: 10px;
  }
  .cz-category-date button{
    font-size: 8px;
  }
}
@media (max-width: 395px) {
  .czcard p, .codingzone-title p,.codingzone-date button{
    font-size: 10px;
  }
}

@media (max-width: 600px) {
  .codingzone-top-container {
    padding: 20px 10px; /* 상하 20px, 좌우 10px의 패딩 */
  }

  .codingzonetop2-image {
    max-width: calc(100% ); /* 컨테이너 너비에서 20px(좌우 패딩)을 빼준 값 */
  }
}
