.banner_img_container {
    width: 100%;
    height: auto;
    padding: 20px 10px;
    box-sizing: border-box;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner_img_container .banner {
    width: auto;
    max-width: 920px;
    max-height: 330px;
}
.banner_img_container_icebreaker {
    width: 100%;
    height: auto;
    padding: 20px 10px;
    box-sizing: border-box;
 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaecf5;
    margin-bottom: 0;
}

.banner_img_container_icebreaker .banner {
    width: auto;
    max-width: 590px;
    max-height: 295px;
  
}

.banner_img_container_icebreaker_write {
    width: 100%;
    height: auto;
    padding: 20px 10px;
    box-sizing: border-box;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.banner_img_container_icebreaker_write .banner {
    width: auto;
    max-width: 960px;
    max-height: 370px;
    padding-top: 20px;
}

.banner_img_container_icebreaker_article {
    width: 100%;
    height: auto;
    padding: 20px 10px;
    box-sizing: border-box;
 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    background-color: #eaecf5;
}

.banner_img_container_icebreaker_article .banner {
    width: auto;
    max-width: 960px;
    max-height: 370px;
    padding-top: 20px;
}



.button-container,
.cza_button_container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
    padding: 0 10px;
}

.btn-attend {
    width: 100px;
    height: 50px;
    padding: 10px 10px;
    border: 1px solid transparent;
    background-color: #ffffff00;
    border-color: #838181a8;
    color: #838181a8;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}


.btn-attend.active {
    background-color: #ffffff00;
    color: #052940;
    border-color: #052940;
    box-shadow: 0px 0px 3px #0b4264;
    font-weight: 530;
}

.btn-attend.manage {
    background-color: #ffffff00;
    color: #052940;
    border-color: #052940;
    box-shadow: 0px 0px 3px #0b4264;
    font-weight: 530;
}

.btn-attend.manage_all {
    background-color: #ffffff00;
    color: #052940;
    border-color: #052940;
    box-shadow: 0px 0px 3px #0b4264;
    font-weight: 530;
}

.btn-attend.manage_class {
    background-color: #ffffff00;
    color: #052940;
    border-color: #052940;
    box-shadow: 0px 0px 3px #0b4264;
    font-weight: 530;
}

.line-container1 {
    width: 100%;
    max-width: 920px;
    height: 1.5px;
    background-color: #818181;
    margin: -10px auto;
    justify-content: center;
    display: flex;

}

.line-container2 {
    width: 100%;
    max-width: 920px;
    height: 1.5px;
    background-color: #dcdada;
    margin: -10px auto;
    justify-content: center;
    display: flex;
}

.info-container {
    width: 100%;
    justify-content: center;
    display: flex;
    margin: 10px auto;
    padding: 10px 0;
}

.info_inner {
    width: calc(100% - 20px);
    max-width: 920px;
    display: flex;
    height: 40px;
    margin: -10px auto;
    background-color: rgb(243, 242, 242);
}

.info_date {
    width: 110px;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
    color: #002D56;
}

.info_time {
    width: 110px;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
    color: #002D56;
}

.info_bar {
    flex: 1 8 0;
    width: 200px;
}

.info_classname {
    width: 260px;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
    color: #002D56;
}

.info_assistant {
    width: 120px;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
    color: #002D56;
}

.info_status {
    width: 120px;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
    color: #002D56;
}

.divider {
    height: 30px;
    width: 0.5px;
    background-color: #052940;
    margin: auto 5px;
}

.info_data_container {
    width: 100%;
    justify-content: center;
    display: column;
    margin: 10px auto;
    padding: 10px 0;
    min-height: 200px;
}

.info_data_inner {
    width: calc(100% - 20px);
    max-width: 920px;
    margin: 0 auto;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_data_date {
    width: 110px;
    height: 100%;
    text-align: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
    color: #002D56;
}

.info_data_time {
    width: 110px;
    height: 100%;
    text-align: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: #848484;
}

.info_data_bar {
    flex: 1 8 0;
    width: 200px;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.info_data_classname {
    width: 260px;
    height: 100%;
    text-align: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: #848484;
}

.info_data_assistant {
    width: 120px;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: #848484;
}

.info_data_status {
    width: 120px;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
    color: #002D56;
}

.hr-line {
    border-bottom: 1px solid #ccc;
    margin: 10px auto;
    width: 100%;
    max-width: 920px;
}

.empty-list-message {
    text-align: center;    
    width: 100%;    
    font-family: sans-serif;      
    padding: 20px;         
}

@media (max-width: 920px) {

    .line-container1,
    .line-container2,
    .hr-line {
        max-width: calc(100% - 20px);
    }
}

@media (max-width: 1920px) {
    .banner_img_container .banner,.banner_img_container_icebreaker .banner ,.banner_img_container_icebreaker_write .banner , .banner_img_container_icebreaker_article .banner{
        max-width: calc(100%);
        margin: -10px 10px;
    }

    


}


@media (max-width: 350px) {


    .banner_img_container .banner {
        width: 95%; 
        max-width: 100%; 
        height: auto; 
    }
    .banner_img_container_icebreaker .banner {
        width: 95%; 
        max-width: 100%; 
        height: auto; 
    }

    .banner_img_container_icebreaker_write .banner {
        width: 95%; 
        max-width: 100%; 
        height: auto; 
    }

    .banner_img_container_icebreaker_article .banner{
        width: 95%; 
        max-width: 100%; 
        height: auto; 
    }
}

