.header-background {   
  height: 70px;  
  width: 100%;
  display: flex;  
  position: relative;
}   
.header-container {
  align-items: center; 
  justify-content:space-between;
  width: 100%; 
  height: 100%;   
  display: flex;
}
.header-letter{          
  height: 100%;
  width: 100%;  
  position: absolute;
  margin-top: 1.5%;
  z-index: 1;
  display: flex;
  margin-left: 10%;
  margin-bottom: 1%;
}
.header-image{
  background-size: contain; 
  background-repeat: no-repeat; 
  height: 55px; 

}
.head-button{
  position: absolute;
  height: 45px;  
  width: 100%; 
  margin-left: 75%;
  display: flex;
}
.mypage {
  background-color: #0A2F4C;
  color: #fff;
  border-radius:10px;   
  font-family: "Gmarket Sans";
  font-size: 18px;
  font-weight: bold;
}


.main-container {
  width: 1700px;
  height: 500px;
  position: relative;
  display:flex;
}

.top-image {
  width: 100%; 
  object-fit: contain;   
  height: 100%;  
  position: absolute;
}

.main2-container{
  width: 1700px;
  height: 1120px;
  position: relative;
  display:flex;

}
.middle-image{
  margin-top: 10px;
  width: 100%;
  object-fit: contain;
  height: 100%;
  position: absolute
}
.vector-container{
  display: flex;
  width:100%;
  height:10%;
  position: relative;
  justify-content: center;
  z-index: 1;
  top:8%;
}
.vector-line{
  width: 50%;
  height: 10px;
  display: flex;
  position: absolute;
  z-index: 1;
  border-radius: 9px;
}
table {
  width: 100%;
  height: 100%;
}
.table-container{
  position: absolute;
  display: flex;
  width: 50%;
  height: 100%;
  z-index: 100;
  justify-content: center;
  margin-left: 25%;
  margin-top: 0px;
}
.box-container{
  display: flex;
  position: absolute;
  width: 100%;
  height: 123px;
  z-index: 10;
  top: 0px;
  border-radius: 15px;
}
.box1-container{
  display: flex;
  position: absolute;
  width: 100%;
  height: 10%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.81);
  top: 11%;
  border-radius: 15px;
}
.box2-container{
  display: flex;
  position: absolute;
  width: 100%;
  height: 10%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.81);
  top: 24%;
  border-radius: 15px;
}
.box3-container{
  display: flex;
  position: absolute;
  width: 100%;
  height: 10%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.81);
  top: 37%;
  border-radius: 15px;
}
.box4-container{
  display: flex;
  position: absolute;
  width: 100%;
  height: 10%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.81);
  top: 50%;
  border-radius: 15px;
}
.box5-container{
  display: flex;
  position: absolute;
  width: 100%;
  height: 10%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.81);
  top: 63%;
  border-radius: 15px;
}
.box6-container{
  display: flex;
  position: absolute;
  width: 100%;
  height: 10%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.81);
  top: 76%;
  border-radius: 15px;
}
tr {
  font-size: 20px;
  font-family: "Gmarket Sans";
  font-weight: bold;
}
th:nth-child(1) { width: 10%; }
th:nth-child(2) { width: 40%; }
th:nth-child(3) { width: 10%; }
th:nth-child(4) { width: 10%; }
th:nth-child(5) { width: 20%; }

aside{
  z-index: 1;
  position: absolute;
  margin-left: 2%;
  flex-direction: column;
  display: flex;
  margin-top: 2%;
}
.page-container{
  display: flex;
  position: absolute;
  top: 85%;
  z-index: 1111;
  width: 50%;
  height: 10%;
  margin-top: 1%;
  margin-left: 37%;
}
.sidebar-box {
  align-items: center; /* 내용물을 세로로 가운데 정렬합니다 */
  justify-content: center; /* 내용물을 가로로 가운데 정렬합니다 */
  display: flex;
  margin-bottom: 50px;
  background-color: rgb(150, 150, 150);
  color: rgb(255, 255, 255);
  padding: 80px;
  border-radius: 15px;
}

.pagination {
  display: flex;
  list-style: none;
  justify-content: center; 
}

.page-item {
  margin: 4px;
}

.page-link {
  display: block;
  color: rgb(0, 45, 86);
  font-weight: bold;
  padding: 8px 16px;
  margin: 4px;
  background: white;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 45, 86);
  border-image: initial;
  transition: background-color 0.3s ease 0s;
}

.page-link:hover {
  background-color: #e9e9e9;
}

 
.page-link.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

@media (min-width: 1000px){
.main-container {
  margin: 0 auto;
}
}
@media (min-width: 1000px){
.main2-container {
  margin: 0 auto;
}
}
