.blog-container{
  width: 100%;
  height: 100%;
  position: relative;
}
.img-container{
  width: 100%;
  height: 47.7vh;
  display: flex;
  position: relative;
}
.header2-image{
  width:100%;
  position: absolute;
  height: 47.7vh;
  background-size: cover;
  object-fit: cover;
  display: block;
}
.header2-img img{
  width: 100%;
}

.words-image{
  position: absolute;
  width: 50%;
  height: 83%;
  z-index: 111;
  margin-top: 2%;
  left: 30%;
}
.posts-overlay-container {
  position: relative;
}
.header3-image{
  width:100%;
  height: auto;
  position: relative;
  object-fit: cover;
 
}   
.bar-container{
  width: 80%;
  left: 10%;
  height: 10%;
  position: absolute;
  top: 10%;
}



.title_vector-container{
  width: 80%;
  height: 7%;
  left: 10%;
  position: absolute;
  top: 15%;
}

.title {
  font-weight: bold;
  width: 65%;
  height: 80%;
  text-align: center;
  left: 17%;
  display: flex;    
  align-items: center;    
  position: absolute;
  top: 2%;

 
  
}
.title p{
  font-size: 90%;
  width: 100%;
  height: 50%;
  margin-bottom: 0;
}
.main-top{
  width: 65%;
  height: 100%;
  position: absolute;
  top:1%;
  left: 18%;
  z-index: 111;
}
.vector2{
  position: absolute;
  width:98%;
  height: 2%;

}
.main-top2{
  width: 65%;
  height: 100%;
  position: absolute;
  left: 18%;
  z-index: 111;
  top:65%;
}

.article-icon-image{
  position: absolute;
  width: 57%;
  height: 57%;
  left: 22%;
  top:11%;
  z-index: 2;
}

.title p:nth-child(1) { margin-left: 11.5%; } 
.title p:nth-child(1) { margin-right: 17%; }  
.title p:nth-child(2) { margin-right: 22.3%; }  
.title p:nth-child(3) { margin-right: 5%; } 
.title p:nth-child(4) { margin-right: 1%; } 
 

.category-dropdown{
  position: absolute;
  top:18%;
  left: 18.1%;
  width: 20%;
  border-radius: 0;
  height: 100%;
  z-index: 11;
  
}

.category-dropdown select{
  width: 80%;
  text-align: center;
  height: 30%;
  border-radius: 0;
  border-color: #D0D5DD;
}
 /* search-bar */ 
 .search-bar{
  position: absolute;
  top: 18%;
  right: 18.3%;
  display: flex;
  align-items: center;  
  justify-content: space-between; 
  z-index: 11;
}
.search-bar select,
.search-bar input
{
  
  height: 2.6vw;    
  text-align: center; 
  width: 75px;
  border-radius: 0;
  border-color: #D0D5DD;
}
.input-container {
  position: relative;
  border-radius: 0;
}

input[type="text"] {
  width: 100%;
  background-color: white;   
  box-shadow: none;          
  border: 1px solid #D0D5DD;    
  padding: 8%;
  
}
input[type="text"]::placeholder {
  color: rgba(128, 128, 128, 0.467);
  text-align: left;  
}
.search-icon {
  position: absolute;
  right: 0%;
  top: 50%;  
  transform: translateY(-50%);  
  width: 40px;  
  height: 40px;
}

select {
  margin-right: 3px;  
}
/*박스들*/
.posts-content {
  position: absolute;
  top: 22%;
  left: 24.4%;
  width: 51%;
  cursor: pointer;
  height: 60%;
  display: flex;
  z-index: 155;
  flex-Direction: column;
  
}
.Notification-container{
  position: relative;
  height: auto;
}
.Notification-container .card .card-order{
  color: red;
  font: bold;
}
.Notification-container .card .card-title{
  color: red;
}
.Notification-container .card .card-category{
  color: red;
}
.non-Notification-container{
  position: relative;
  height: auto;
  
}

/* card */ 
.card {
  display: flex;
  position: relative;
  cursor: pointer;
  align-items: center;
  width: 100%;
  height: 55px;
  flex-direction: column;
  justify-content: center;  
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
  
}
.card-order { flex: 1; }  
.card-category {flex: 1;}
.card-title { flex: 6; }  
.card-created { flex: 2.2; }  
.card-views { flex: 1.5; }  
.card-likes { flex: 1; }  
.card-order, .card-category, .card-title, .card-created, .card-views, .card-likes {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;  
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
}
.card-order{
  margin-left: 1.5%;
}
.card-category{
  margin-left: 10px;
}

.d-flex
{
 width: 100%;
}

.writing-button{
  position: relative;
  left: 50%;
}
/*pagination*/
.pagination-container{
  position: relative;
  width: 100%;
  left: 37%;
  z-index: 11;
  display: flex;
}

 
.btn1 {
  position: relative;
  width: 14%;  
  background-color: white;  
  color: black; 
  display: flex;  
  justify-content: center;  
  align-items: center;  
  text-decoration: none;  
  z-index: 15;
  margin-left: 86%;
  border: 1px solid #ACACAC;
  height: 80%;
  }
.pencil{
  width: 18%;
  height: 35%;
}
.btn1 p{
  margin-left: 8%;
  margin-top: 14%;
}
@media (max-width: 1500px) {
  .blog-container{
    width: 100%;
  }
 
 
}
