.blog-container{
  width: 100%;
  max-width: none;
  height: 100%;
  margin: 0 auto;
  display: block;
  object-fit: cover;
  position: relative;
}
.img-container{
  width: 100%;
  height: 400px;
  position: relative;
}
.words-image{
  position: absolute;
  width: 55%;
  height: 85%;
  z-index: 111;
  margin-top: 2.5%;
}
.header2-image{
  width:100%;
  position: absolute;
  height: 100%;
  background-size: cover;
  object-fit: cover;
  display: block;
}
.posts-overlay-container {
  position: relative;
}
.header3-image{
  width:100%;
  height: 100%;
  position: relative;
 
}   
.title {
  font-weight: bold;
  width: 50%;
  left: 26%;
  display: flex;          
  align-items: center;    
  position: absolute;
  top: 18%;
}
.title p:nth-child(1) { margin-right: 6.5%; } 
.title p:nth-child(2) { margin-right: 23%; }  
.title p:nth-child(3) { margin-right: 26%; }  
.title p:nth-child(4) { margin-right: 7.5%; } 
.title p:nth-child(5) { margin-right: 3%; } 

/*선(수정간단하게해야할필요o)*/
.main-top{
  width: 67%;
  height: 8%;
  position: absolute;
  top:16%;
  left: 24%;
  z-index: 111;
}
.vector2{
  position: absolute;
  width:75%;
}
.main-top2{
  width: 67%;
  height: 2%;
  position: absolute;
  top:22%;
  left: 24%;
  z-index: 111;
}
.vector3{
  position: absolute;
  width:75%;
}

.category-dropdown{
  position: absolute;
  top:13%;
  left: 24%;
  width: 12%;
}
.category-dropdown select{
  width: 100%;
  text-align: center;
}
/*박스들*/
.posts-content {
  position: absolute;
  top: 25%;
  left: 24%;
  width: 50%;
  height: 80%;
  display: flex;
  z-index: 10;
  flex-Direction: column;
  
}
.Notification-container{
  position: relative;
  height: auto;
}
.Notification-container .card .card-order{
  color: red;
  font: bold;
}
.Notification-container .card .card-title{
  color: red;
}
.Notification-container .card .card-category{
  color: red;
}
.non-Notification-container{
  position: relative;
  height: 80%;
}
 /* search-bar */ 
.search-bar{
  position: absolute;
  top: 11%;
  right: 26%;
  display: flex; /* flexbox를 활용하여 자식 요소들을 수평으로 정렬 */
  align-items: center; /* 수직 방향 중앙 정렬 */
  justify-content: space-between; /* 자식 요소들 사이에 균등 간격 */
 
  z-index: 11;
}
.search-bar select,
.search-bar input
{
  height: 40px;  
  border-radius: 5px;  
}
.input-container {
  position: relative;
  display: flex;
}

input[type="text"] {
  width: 100%;
  flex-grow: 1; /* 입력 상자가 컨테이너의 대부분 공간을 차지하도록 함 */
}

.search-icon {
  position: absolute;
  right: 1px; /* 오른쪽 끝에서 5px 떨어진 위치에 배치 */
  top: 50%; /* 부모 컨테이너 중앙에 위치 */
  transform: translateY(-50%); /* 상하 중앙 정렬 */
  width: 50px; /* 아이콘 크기 조절 */
  height: 50px;
}

select {
  margin-right: 3px; /* 드롭다운과 입력 상자 사이 간격 */
}
/* card */ 
.card {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  height: 55px;
  flex-direction: column;
  justify-content: center;  
  border-radius: px;
  margin-bottom: 20px;
}
.card-order { flex: 1; }  
.card-category {flex: 1.7;}
.card-title { flex: 6; }  
.card-created { flex: 2.2; }  
.card-views { flex: 0.8; }  
.card-likes { flex: 1; }  
.card-order, .card-category, .card-title, .card-created, .card-views, .card-likes {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center; /* 요소 내의 텍스트 또한 중앙 정렬 */
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
}
.card-order{
  margin-left: 1.5%;
}
.card-category{
  margin-left: 10px;
}


.d-flex
{
 width: 100%;
}


/*pagination*/
.pagination{
  position: absolute;
  left:44%;
  top: 80%;
  z-index: 1111;
}

.btn1 {
  position: absolute;
  top: 75%;
  right: 20%;
  width: 60px;  
  height: 60px;  
  padding: 0;  
  border-radius: 50%;  
  border: none;  
  background-color: white;  
  color: black; 
  display: flex;  
  justify-content: center;  
  align-items: center;  
  text-decoration: none;  
}
.pencil{
  width: 25%;
  height: 25%;
}
/* 태블릿 */
