.button-container{
    width: 20%;
    height: 10%;
    position: absolute;
    top:82%;
    right: 0;
    margin-top: 1%;
    
    
}
.mb-3{
    margin-top: 1%;
}

.esbutton{
    border:1px,solid;
    color: black;
    background-color: white;
    right: 0;
    padding: 5px 20px;
    margin-left: 40%;
    margin-right: 1%;

}
.cancel{
    border:1px,solid;
    color:black;
    background-color: white;
    padding: 5px 20px;
}
.esbutton:hover{
    color: white;
    background-color: #002D56;
}
.cancel:hover{
    color: white;
    background-color: #002D56;
}
.blog-radius{
    margin-top: 1%;
    width: 70%;
    height: 100%;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 12px;
    border-color: #eee;
    margin-left: 15%;
}
