.button-container{
    width: 10%;
    height: 10%;
    position: absolute;
    top:82%;
    left:90%;
}
.mb-3{
    margin-top: 1%;
}

.esbutton{
    border:1px,solid;
    color: white;
    background-color: #002D56;
    left:90%;
    padding: 10px 20px;
    margin-right: 5px

    
}
.cancel{
    border:1px,solid;
    color:white;
    background-color: #002D56;
    padding: 10px 20px;
}
.blog-radius{
    margin-top: 1%;
    width: 70%;
    height: 100%;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 12px;
    border-color: #eee;
    margin-left: 15%;
}
