.button-container{
    width: 100%;
    height: 7%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 2vw;
    margin-bottom: 1vw;
    
}
.mb-3{
    margin-top: 1%;
    height: 2vw;
}
.form-control{
    font-size: 1vw;
}

.esbutton{
    border:0.01vw,solid;
    color: black;
    background-color: white;
    right: 0;
    padding: 0.1vw 1.5vw;
    margin-right: 1vw;
    font-size: 1vw;

}
.cancel{
    border:0.01vw,solid;
    color:black;
    background-color: white;
    padding: 0.1vw 1.5vw;
    font-size: 1vw;
}
.esbutton:hover{
    color: white;
    background-color: #002D56;
}
.cancel:hover{
    color: white;
    background-color: #002D56;
}
.blog-radius{
    margin-top: 1%;
    width: 70%;
    height: 100%;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 12px;
    border-color: #eee;
    margin-left: 15%;
}

 
