.footer-container{
    width: 100%;
    height: 100%;
    background: #333;

     
    margin: 0 auto;
    position: relative;
}
.footer-logo{
    padding-top: 4%;
    text-align: center;
}
.footer-address{
    text-align: center;
}
.footer p {
    color: #d5d5d5;
}
.footer strong{
    color: #9f7c57;
}
.footer{
    position: relative;
}