.inner{
  width: 100%;
  height: auto;
  position: relative;
  display:flex;   
 
}
.middle-container {
  position: relative;
  display:flex;
  width: 100%;
  height: auto;
}

.middle-img{
  width: 100%;
  height: auto;
  object-fit: cover;
  display:flex;
}
.middle-img img {
  width: 100%; 
  height: 100%;
  object-fit: contain;
  display:flex;   
}
.middle-note{
  width:60%;
  height: 70%;
  position: absolute;
  z-index: 111;
  margin-left: 5%;
  top: 7%;
}
.middle-note-top{
  width: 62%;
  height: 50%;
  z-index: 111;
  font-size: 2rem;
  display: flex;
  justify-content:space-between;
}
.middle-note-top button.note {
  color: black;  
  background: transparent; 
  border: none;  
  font-size: inherit;  
  cursor: pointer; 
  z-index: 11;
  height: 20%;
}
.ice{
  font-family: "Gmarket Sans";
  font-size: 55px;
  font-style: normal;
  font-weight: bold;
}
.note{
  margin-top: 3%;
}
.middle-note-middle{
  position: absolute;
  width: 100%;
  height: 10%;
  top: 12%;
}
.vector{  
  width:63%;
}
.middle-note-bottom{
  position: absolute;
  width: 100%;
  height: 80%;
  top: 20%;
}
.Text{
  width: 63%;
  height: 30%;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 5px;
}

.inner{
  width: 100%;
  height: auto;
  position: relative;
  display:flex;   
 
}
.middle-container {
  position: relative;
  display:flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.middle-img{
  width: 100%;
  height: auto;
  object-fit: cover;
  display:flex;
}
.middle-img img {
  width: 100%; 
  height: 100%;
  object-fit: contain;
  display:flex;   
}
.middle-note{
  display: flex;
  width:50%;
  height: 70%;

  position: absolute;
  z-index: 111;
  margin-left: 5%;
  top: 7%;
}
.middle-note-top{
  width: 62%;
  height: 50%;
  z-index: 111;
  font-size: 2rem;
  display: flex;
  justify-content:space-between;
}
.middle-note-top button.note {
  color: black;  
  background: transparent; 
  border: none;  
  font-size: inherit;  
  cursor: pointer; 
  z-index: 11;
  height: 20%;
}
.ice{
  font-family: "Gmarket Sans";
  font-size: 55px;
  font-style: normal;
  font-weight: bold;
}
.note{
  margin-top: 3%;
}
.middle-note-middle{
  position: absolute;
  width: 100%;
  height: 10%;
  top: 12%;
}
.vector{  
  width:63%;
}
.middle-note-bottom{
  position: absolute;
  width: 100%;
  height: 80%;
  top: 20%;
}
.Text{
  width: 63%;
  height: 30%;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 5px;
}

.coding-zone{
  display: flex;
  width: 33%;
  position: relative;
  height: 100%;
}