
.header-container {
    align-items: center; 
    width: 1200px; 
    height: 50px;
    min-width: 350px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.header-container img{
    display: flex;
    margin-top:0.5vw;
    width: 150px;
    height: 40px;
}
.navbar-nav{
    display: flex;
    align-items: flex-end;
    font-size: 13px;
 
}


