
.header-container {
    align-items: center; 
    width: 90%; 
    height: 4.5vw;   
    position: relative;
    left: 5%;

    display: flex;
}
.header-container img{
    display: flex;
    margin-top:0.5vw;
    width: 12vw;
    height: 3vw;
}
.navbar-nav{
    display: flex;
    align-items: flex-end;
    font-size: 1vw;
    width: 100%;
 
    left: 85%;
 
 
 
}


