.ArticleContentbox-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.body-container{
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}
.ArticleContentbox {
  flex: 1;   
  position: relative;   
  width: 100%;

}
.header10-image{
  width:100%;
  height: 100%;
  position: absolute;
  background-size: cover;
 
}  
.Comment{
  height: 5.5vw;
}
.icon-image{
  position: absolute;
  width: 55vw;
  height: 50vw;
  top:5%;
  z-index: 11;
  left: 25%;
}
.Admin-de_Ca-bottom{
  width: 12%;
  align-items: center;
  height: 100%;
  text-align: center;
  display: flex;

}
.Admin-de_Ca-bottom button{
  margin-left: 10%;
  width: 50%;
  height: 100%;
  border: none !important;
  font-size: 0.8vw;
  background: transparent;
  cursor: pointer;
  margin-bottom: 1%;
  font-weight: 600;
   
}
/*카테고리 일반 or 요청*/
.ArticleCategory {
  background-color: black;  
  color: white;                
  border-radius: 5px;       
  position: relative;
  margin-top: 4vw;
  
  width: 6.7vw;
  display: flex;            
  align-items: center;      
  justify-content: center;  
  z-index: 11;           
}
.ArticleCategory p {
  font-family: 'Inter', sans-serif;  
  font-weight: 700;  
  font-size: 2vw;  
  margin-top: 0.3vw;    
  margin-bottom: 0;  
}

/*제목*/
.ArticleTitle{
  z-index:11;
  margin-top: 1vw;
  position: relative;
  display: flex;
 
  font-family: 'Inter', sans-serif;  
  font-size: 2.5vw;  
  font-weight: 700;
}
.ArticleTitle p{
  margin-bottom: 0;
}
.ql-container {
  height: auto;
}

/*날짜*/
.ArticleDate {
  font-weight: 900;
  display: flex;   
  position: relative;      
  justify-content: space-between;  
  align-items: center;   
  font-family: 'Inter', sans-serif; 
  font-size: 1.3vw; 
  color: #00000093;
}

.Article-Main{
  position: relative;
  z-index: 1111;
  height: auto;
 
  margin-bottom: 30px;
 
  flex-direction: column;
  display: flex;
}

/*선*/
.vector5 {
  width: 100%;
  height: 0.2vw;
  border: 1px solid #000000;  
}

.Article-middle{
  display: flex;  
  width: 100%;
  height: auto;
  position: relative;
  justify-content: space-between; 
}
/*수정,삭제 버튼 */

.Edit-Delete-Options {
  width: 10%;
  position: relative;
  z-index: 111;
  font-size: 1vw;
  margin-right: 0;
  display: flex;  
  justify-content: flex-end;
}
.Edit-Delete-Options button {
  border: none !important;
  background: transparent;
  cursor: pointer;
}
.comment-input-area{
  margin-top: 1.5vw;
  height: 40%;
  font-size: 1vw;
  padding-left: 1.5vw;
  padding-top: 3vw;
}

.Commentbox-name{
  display: flex;
  align-items: center;
}

.Commentbox-name h3 {
  height: 40px;
  color: blue;
  line-height: 40px; 
  margin: 0;  
  padding: 0 10px;  
}

.Commentbox-name button {
  line-height: normal;  
  padding: 0 15px;  
}


.Comment-Content{
  margin-left: 1.5%;
  font-size: 1vw;
  height: auto;
  white-space: pre-line;
  padding: 0.5vw;
  margin-bottom: 0;
}
.Comment-Header{
  margin-bottom: 0;
  margin-top: 1vw;
  margin-left: 5px;
}




/*하트위치*/
.Comment-Option{
  position: relative;
  display: flex;   
  height: 40%;
  z-index: 11;       
  align-items: center; 
  margin-top: 1%; 
  width: 25%;
  flex-direction: row;
  margin-left:5px;
}
.Comment-Option p{
  margin-left: 12px;
  margin-top: 8px;
}

/*댓글*/
.CommentBox-container{
  z-index: 11;
  position: relative;
  width: 100%;
  height: auto;
 
}
.Edit-Delete-Options span{
  height: 99%;
  align-items: center;
  display: flex;
}


.CommentBox-bottom{
  position: relative;
  width: 100%;
  height: 25vw;
  border: 0.05 solid var(--skinCommentWriterBorder);
  box-sizing: border-box;
  background: var(--skinCommentWriterBg);
}




.Comment-Divider {
  border-top: 0.1vw solid black;
  margin: 0.5vw 0;
  width: 100%;
}



.Comment-Author {
  font-weight: bold;
  margin-right: 5px;
  color: rgb(21, 21, 151);
  font-size: 1.1vw;
}

.Comment-Date {
  color: rgba(90, 89, 89, 0.884);
  font-size: 1vw;
  margin-left: 1%;
}
.Comment-Header {
  display: flex;
  width: 100%;
  align-items: center;
  height: 1.5vw;
  position: relative;
}
.Comment-Header p{
  margin-bottom: 0;
}
/*하트 css 부분 */
.heart {
  width: 1vw;  
  height: 1vw;  
  background-color: #d5d4d4;  
  position: relative;
  transform: rotate(-45deg);  
  cursor: pointer;
}
.heart:before, .heart:after {
  content: "";
  position: absolute;
  width: 1vw;  
  height: 1vw;  
  border-radius: 50%;  
  background-color: #d5d4d4;  
}
.heart:before {
  top: 0;
  left: 7.5px; 
}
.heart:after {
  top: -7.5px;  
  left: 0;
}
.heart.love {
  background-color: #F80808; 
}
.heart.love:before,
.heart.love:after {
  background-color: #F80808;  
}
.quill p{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 2.25vw;

}
.submit-button {
  position: absolute;
  font-size: 1vw;
  margin-top: 9vw; 
  right: 10px;  
  padding: 5px 10px;
  background-color:transparent;
  color: rgba(0, 0, 0, 0.559);
  border: none;
}
.CommentBox-bottom p{
  margin-top: 3%;
  margin-left: 1%;
  font-size: 1vw;
  font-weight: bold;
  position: absolute;
  
}
.Comment-Edit p{
  font-size: 17px;
  font-weight: bold;
}
.comment-edit-input{
  height: 100%;
  font-size: 1vw;
  padding-left: 3%;
  padding-top: 2%;
}
.ed-comment{
  display: flex;       
  align-items: center; 
  height: 3vw;
  position:absolute;
  top: 50%;
  font-size: 1vw;
  margin-left: 90%;
  width: 15%;
}
.ed-bt{
  margin-right: 2%;
  padding: 1vw;
}


.stop button{
  border:0.05vw,solid;
  color:black;
  font-size: 1vw;
  background: white;
  cursor: pointer;
  margin-right: 2%;
  padding: 3% 10%;
  z-index: 100;
}
.stop {
  display: flex;        
  align-items: center;  
  margin-left: 89%;
  width: 14%;
  z-index: 100;
  
}
.resolve {
  display: flex;        
  align-items: center;  
  margin-left: 89.8%;
  width: 25%;
  z-index: 100;
  margin-top: 1%;
}
.resolve button{
  border:0.05vw,solid;
  color:black;
  background: white;
  cursor: pointer;
  padding: 3% 10%;
  font-size: 1vw;
  z-index: 100;
}

.stop button:hover{
  color: white;
  background-color: #002D56;
}
html, body {
  margin: 0px;
  overflow-x: hidden;
}

.ql-editor {
  padding: 3%;
 
}
@media (max-width: 600px) {
  .quill p,.Comment-Content{
    font-size: 1.4vw;

  
  }
}
.quill{
  height: auto; /* 글의 길이에 따라 자동으로 높이 조절 */
  margin-bottom: 0.5%; /* 마지막 문장에서 아래 여백을 10px로 설정 */
  position: relative;
  
}
.ql-container {
  max-height: none;  /* 글 길이에 따른 최대 높이 제한 해제 */
  overflow-y: visible; /* 내용에 따라 자동으로 높이 조절 */
  font-family: 'Noto Sans', sans-serif;
}

.ql-container.ql-disabled .ql-tooltip{
  height: auto;
}


