.ArticleContentbox-container {
  position: relative;
  flex:1;
}
.header10-image{
  height: 100%;
  position: absolute;
  width: 100%;
}  
.body-container{
  max-width: 1000px;
  min-height: 50vw;
  margin: 0 auto;
  padding: 10px;
}
.icon-image{
  position: absolute;
  width: 55vw;
  height: 50vw;
  top:5%;
  left: 25%;
}
.Comment{
  border-bottom: 1px solid #333;
  height: auto;
}
.CommentBox-bottom-container{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.Admin-de_Ca-bottom{
  display: flex;
  margin-left: 3px;
}
.Admin-de_Ca-bottom button{
  border: none !important;
  font-size: 10px;
  background: transparent;
  cursor: pointer;
   
}
.ArticleCategory {
  background-color: black;  
  color: white;                
  border-radius: 5px;       
  position: relative;
  margin-top: 4vw;
  width: 6.7vw;
  display: flex;            
  justify-content: center;  
}
.ArticleCategory p {
  font-family: 'Inter', sans-serif;  
  font-weight: 700;  
  font-size: 2vw;  
  margin-top: 0.3vw;    
  margin-bottom: 0;  
}
.ArticleTitle{
  margin-top: 1vw;
  position: relative;
  font-family: 'Inter', sans-serif;  
  font-size: 2.5vw;  
  font-weight: 700;
}
.ArticleTitle p{
  margin-bottom: 0;
}
.ArticleDate {
  font-weight: 900;
  display: flex;   
  position: relative;      
  justify-content: space-between;   
  font-family: 'Inter', sans-serif; 
  font-size: 1.3vw; 
  color: #00000093;
}
.ql-container {
  height: auto;
}


.Article-Main{
  position: relative;
  margin-bottom: 30px;
  flex-direction: column;
  display: flex;
}
.Article-middle{
  display: flex;  
  margin-top: 3px;
  justify-content: space-between;
}

.Edit-Delete-Options {
  font-size: 10px;
  display: flex;  
  justify-content: flex-end;
}
.Edit-Delete-Options button {
  border: none !important;
  background: transparent;
  cursor: pointer;
}
.comment-input-area{
  padding: 30px 10px 10px 20px;
  font-size: 12px;

}

.Commentbox-name{
  display: flex;
  align-items: center;
}

.Commentbox-name h3 {
  height: 40px;
  color: blue;
  line-height: 40px; 
  margin: 0;  
  padding: 0 10px;  
}

.Commentbox-name button {
  line-height: normal;  
  padding: 0 15px;  
}

.Comment-Content{
  margin-left: 1.5%;
  font-size: 13px;
  padding: 1vw;
  margin-bottom: 0;
}
.Comment-Header{
  margin-top: 1vw;
  margin-left: 5px;
  align-items: center;
  display: flex;
}

.Comment-Option{
  position: relative;
  display: flex;   
  height: 40%;
  z-index: 11;       
  align-items: center; 
  margin-top: 1%; 
  width: 25%;
  flex-direction: row;
  margin-left:5px;
}
.Comment-Option p{
  margin: 0;
}
.CommentBox-container{
  margin-top: 3px;
}
.Edit-Delete-Options span{
  height: 99%;
  align-items: center;
  display: flex;
}

.CommentBox-bottom{
  position: relative;
  margin-top: 10px;
  border: 0.05 solid var(--skinCommentWriterBorder);
  box-sizing: border-box;
  background: var(--skinCommentWriterBg);
}
.Comment-Author {
  font-weight: bold;
  margin-right: 5px;
  color: rgb(21, 21, 151);
  font-size: 14px;
}

.Comment-Date {
  color: rgba(90, 89, 89, 0.884);
  font-size: 13px;
  margin-left: 1%;
}

.Comment-Header p{
  margin-bottom: 0;
}
/*하트 css 부분 */
.heart {
  cursor: pointer;  
  display: inline-flex;  
  align-items: center;  
  margin-right: 5px; 
}

.heart svg {
  color: #ff6b6b;  
  font-size: 20px;  
  transition: color 0.3s ease;  
}

.heart:hover svg {
  color: #ff4a4a;  
}
.quill p{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.submit-button {
  position: absolute;
  font-size: 12px;
  bottom: 0;
  align-self: flex-end;
  padding: 5px 10px;
  background-color:transparent;
  color: rgba(0, 0, 0, 0.559);
  border: none;
}
.CommentBox-bottom p{
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  padding: 10px;
  
}
.Comment-Edit p{
  font-size: 17px;
  font-weight: bold;
}
.comment-edit-input{
  margin-top: 10px;
  font-size: 11px;
  padding: 10px;
}
.ed-comment{
  display: flex;       
  align-items: center; 
  justify-content: flex-end;
  font-size: 12px;
}
.ed-bt{
  margin-right: 2%;
}
.stop button{
  border:none !important;
  cursor: pointer;
  background: transparent;
}
.stop {
  display: flex;        
  justify-content: flex-end;
  font-size: 10px;
  align-items: center;   
}
.resolve {
  display: flex;        
  justify-content: flex-end;
  margin-top: 1%;
}
.resolve button{
  border:0.05vw,solid;
  color:black;
  background: white;
  cursor: pointer;
  font-size: 10px;
}

.stop button:hover{
  color: white;
  background-color: #002D56;
}
html, body {
  margin: 0px;
  overflow-x: hidden;
}

.ql-editor {
  padding: 3%;
 
}

.quill{
  height: auto; /* 글의 길이에 따라 자동으로 높이 조절 */
  margin-bottom: 0.5%; /* 마지막 문장에서 아래 여백을 10px로 설정 */
  position: relative;
  
}
.quill-container{
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
} 
.ql-container {
  max-height: 500px;   
  overflow-y: auto;  
  font-family: 'Noto Sans', sans-serif;
}

.ql-container.ql-disabled .ql-tooltip{
  height: auto;
}

@media (max-width: 1000px) {
  .quill p{
    font-size: 13px;

  
  }
}
