.blog-container{
  width: 1522px;
  height: 100%;
  position: relative;
}
.header2-image{
  width:100%;
  height: 100%;
}
.comment-input-area{
  margin-top: 12px;
}
.header10-image{
  width:100%;
  height: 100%;
  position: relative;
  margin-top: 10px;
}  
.Commentbox-name{
  display: flex;
  align-items: center;
  gap: 15px;
}

.Commentbox-name h3 {
  height: 40px;
  color: blue;
  line-height: 40px; 
  margin: 0;  
  padding: 0 10px;  
}

.Commentbox-name button {
  line-height: normal; /* 버튼의 기본 line-height로 재설정 */
  padding: 0 15px; /* 버튼의 패딩 조정 */
}

.ArticleContentbox-container{
  position: relative;
  height: auto;
}
 
.ArticleContentbox{
  width: 100%;
  height: auto;
  border-radius: 6px;

}

.ArticleDate {
  margin-bottom: 5px;
  display: flex;   
  width: 69%;
  left: 13%;
  top:17%;
  position: absolute;      
  justify-content: space-between;  
  align-items: center;   
}
/*카테고리 일반 or 요청*/
.ArticleCategory {
  background-color: black;  
  color: white;             
  padding: 1px 1px;            
  border-radius: 5px;       
  position: absolute;
  top:5%;
  left: 13%;
  height: 39px;
  width: 78px;
  display: flex;           /* Flexbox를 사용 */
  align-items: center;     /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */

  z-index: 111;           
}
.ArticleCategory p {
  font-family: 'Inter', sans-serif; /* 폰트 패밀리 설정 */
  font-weight: 700; /* 글자 두께 */
  font-size: 25px; /* 글자 크기 */
  margin-top: 0;    
  margin-bottom: 0;  }


/*제목*/
.ArticleTitle{
  margin-bottom: 35px;
  z-index:11;
  position: absolute;
  top:10%;
  left: 13%;
  font-family: 'Inter', sans-serif;  
  font-weight: 700;  
  font-size: 40px;  
}
/*날짜*/
.ArticleDate {
  margin-bottom: 5px;
  display: flex;   
  left: 13%;
  top:14%;
  position: absolute;      
  justify-content: space-between;  
  align-items: center;   
  font-family: 'Inter', sans-serif; 
  font-size: 20px; 
  color: #00000093;
}
/*선*/
.vector5 {
  width: 100%;
  height: 1px;
  border: 1px solid #000000; /* 테두리 두께와 색상 설정 */
 
}



.Article-Main{
  position: absolute;
  height: auto;
  width: 70%;
  top: 19%;
  margin-bottom: 30px;
  left: 13%;
}
.Article-middle{
  display: flex;  
  width: 87%;
  height: auto;
  position: relative;
  justify-content: space-between; 
}

/*하트위치*/
.Comment-Option{
  position: relative;
  display: flex;   
  z-index: 11;       
  align-items: center;  
  width: 25%;
  flex-direction: row;
  margin-left:10px;
}
.Comment-Option p{
  margin-left: 12px;
  margin-top: 8px;
}


.CommentBox-container{
  z-index: 11;
  position: relative;
  width: 100%;
  height: auto;
 
}




.Edit-Delete-Options {
  width: 10%;
  position: relative;
  z-index: 111;
  left: 16%;
  display: flex;  
  justify-content: space-around; 
}
.Edit-Delete-Options button {
  border: none !important;
  background: transparent;
  cursor: pointer;
}



.CommentBox-bottom{
  width: 100%;
  height: 50px;
  border: 2px solid var(--skinCommentWriterBorder);
  box-sizing: border-box;
  border-radius: 6px;
  background: var(--skinCommentWriterBg);
}




.Comment-Divider {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}



.Comment-Author {
  font-weight: bold;
  margin-right: 5px;
}

.Comment-Date {
  color: gray;
  font-size: 0.8em;
}
.Comment-Header {
  display: flex;
  align-items: center;
}

/*하트 css 부분 */
.heart {
  width: 15px;  
  height: 15px;  
  background-color: #d5d4d4;  
  position: relative;
  transform: rotate(-45deg);  
}
.heart:before, .heart:after {
  content: "";
  position: absolute;
  width: 15px;  
  height: 15px;  
  border-radius: 50%;  
  background-color: #d5d4d4;  
}
.heart:before {
  top: 0;
  left: 7.5px; 
}
.heart:after {
  top: -7.5px;  
  left: 0;
}
.heart.love {
  background-color: #F80808; 
}
.heart.love:before,
.heart.love:after {
  background-color: #F80808;  
}
