.img-container{
  height: 26vw;
}
.header-image{
  width:100%;
}
.header-word-image{
  position: absolute;
  width: 50%;
  height: 20vw;
  margin-top: 2.3vw;
  left: 30%;
}
.ArticleMain-container {
  position: relative;
  flex: 1;
}
.ArticleMain-body-image{
  width:100%;
  height: 100%;
  position: absolute;
}   
.ArticleMain-body{
  max-width: 800px;
  min-height: 52vw;
  padding: 10px;
  margin: 0 auto;
}
.article-icon-image{
  position: absolute;
  width: 55vw;
  height: 45vw;
  left: 23%;
  top:13%;
}
.CateGory_bar-container{
  position: relative;
  margin-top: 10%;
  margin-bottom: 1%;
  z-index: 111;
}
.CateGory-container{
  justify-content: space-between;
  display: flex;
}
.Search-bar, .ListCategory_bar {
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.Category-dropdown select{
  width: 20%;
  text-align: center;
  position: absolute;
  height: 100%;
  font-size: 1vw;
  border-color: #D0D5DD;
}

 
.Category-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #D0D5DD;
  border-radius: 5px;
  padding: 6px;
  cursor: pointer;
  width: 150px;
}
.category-label {
  width: 100%;  
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 0.5vw;
  max-height: 200px;
  min-width: 100%;  
  max-width: 100%;
}
.dropdown-menu.show {
  padding: 5%;
}
.dropdown-menu li {
  display: flex;
  font-size: 12px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.dropdown-menu li:hover {
  background-color: #E3F1FF;
}
.category-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #D0D5DD;
  border-radius: 5px;
  padding: 6px;
  cursor: pointer;
  width: 100px;  
}
input[type="text"] {
  padding: 6px;
  border: 1px solid #D0D5DD;
  border-radius: 5px;
}
.input-container img {
  cursor: pointer;
}
input[type="text"]::placeholder {
  color: rgba(128, 128, 128, 0.467);
  text-align: left;
}
.search-icon {
  position: absolute;
  top: 50%;  
  right: 1vw;
  transform: translateY(-50%);  
  width: 1.5vw;  
  height: 1.5vw;
}
.Article_title-container{
  height: 35px;
  position: relative;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 12px;
}
.Article_title {
  font-weight: 600;
  height: 100%;
  text-align: center;
  display: flex;    
  align-items: center;    
}

.dropdown-menu .separator {
  border-top: 0.1vw solid #ccc;
  margin: 4px 0;

}
.title-blank,.title-category,.title-day, .title-view,.title-like{
  width: 100px;
  margin: 0;
}
.title-name {
  width: 300px;
  margin: 0;
}
.Article-container {
  margin-top: 1%;
  cursor: pointer;
}
.no-articles-message{
  z-index: 10;
}
.Notification-container .card .card-order{
  color: red;
  font: bold;
}
.Notification-container .card .card-title{
  color: red;
}
.Notification-container .card .card-category{
  color: red;
}

.card {
  display: flex;
  position: relative;
  cursor: pointer;
  align-items: center;
  width: 100%;
  height: 50px;
  flex-direction: row;
  justify-content: center;  
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 1.5vw;
}
  
.card-order, .card-category,  .card-created, .card-views, .card-likes {
  margin: 0;
  display: flex;
  align-items: center; 
  font-size: 13px; 
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  width: 100px;
}
.card-title{
  margin: 0;
  display: flex;
  align-items: center; 
  font-size: 13px; 
  justify-content: space-around;
  overflow: hidden;
  white-space: nowrap;
  width: 300px;
}
 
.writing-container{
  height: 30px;
  display: flex;
  margin-bottom: 4%;
  justify-content: flex-end;
}
.pagination-container{
  justify-content: center;
  height: 20vw;
  display: flex;
}
.writing-btn {
  position: relative;
  width: 100px;  
  background-color: white;  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  border: 0.05vw solid #ACACAC;
}
.pencil{
  width: 15%;
  height: 40%;
}
.writing-btn p{
  font-size: 13px;
  margin: 1vw 0 1vw 1vw;
}

.select-dropdown {
  background-color: white;  
  color: black;  
  border: 1px solid #ccc;  
  padding: 5px 10px;  
  border-radius: 5px;  
}
.page-item{
  height: 10px;
}
.select:active {
  background-color: #f8f8f8;
}

.writing-button{
  position: relative;
}
.pagination .page-link,input[type="text"],.category-label,.title p {
  font-size: 13px;
}
input::placeholder {
  padding-left: 5%;  
 
}
@media (max-width: 610px) {
  .card-created, .title-day {
      display: none  !important;
  }
}

@media (max-width: 420px) {
  .card-order, .title-blank {
      display: none  !important;
  }
  .Layout_bar{
    margin-bottom: 3%;
  }
 
}
 