.blog-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.title-container{
    margin-top: 2%;
}
.dropdown {
    border-radius: 3px;
    align-items: center;
    transition: all .5s ease;
    width: 100px;
    display: flex;
}
.dropdown .select {
    cursor: pointer;
    border: var(--bs-border-width) solid var(--bs-border-color); 
    font-size: 12px;
    padding: 5px;
    display: flex;
    width: 150px;
    border-radius: 3px;
    justify-content: center;
}
.dropdown .select > i {
    font-size: 1vw;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px;
    
}
.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204);
}
.dropdown:active {
    background-color: #f8f8f8;
}
.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 2px 2px 0 0;
    background-color: #f8f8f8;
}
.dropdown.active .select > i {
    transform: rotate(-90deg);
}
.dropdown .dropdown-menu {
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
}
.dropdown.active .dropdown-menu {
    display: block;
    width: 100%;
    padding: 5px;
}
 
.dropdown .dropdown-menu {
    list-style: none;
}
.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2;
}
.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2;
}
 
.ql-container {
    max-height: 25vw;   
    overflow-y: auto;   
    font-family: 'Noto Sans', sans-serif;
}
.ql-container ql-snow{
    height: 25vw;
}
 
.posts-overlay-container .d-flex p, 
.posts-overlay-container .d-flex button {
    flex-basis: 0;
}