 
#root > div {
    flex:1;
    flex-direction: column;
}
.BlogForm-container{
    display: flex;
}
.create-button-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
    margin-bottom: 2%;
}
.createpage-container{
    max-width: 1000px;
    width: 100%;
    padding: 0 10px 10px 10px;
    margin: 0 auto;
}
.ql-toolbar.ql-snow {
    padding: 3px !important;
}
.mb-3{
    margin-top: 1%;
    margin-bottom: 1% !important;
}
.form-control{
    font-size: 12px;
    border-radius: 3px;
    padding-left: 10px;
    text-align: left; 
}
.form-control::placeholder {
    font-size: 14px;
    padding-left: 10px;  
}
.cancel, .esbutton{
    border:0.01vw,solid;
    background-color: white;
    font-size: 12px;
    padding: 3px 15px;
}
.esbutton{
    margin-right: 5px;
}
.esbutton:hover{
    color: white;
    background-color: #002D56;
}
.cancel:hover{
    color: white;
    background-color: #002D56;
}
.blog-radius{
    margin-top: 1%;
    width: 70%;
    height: 100%;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 12px;
    border-color: #eee;
    margin-left: 15%;
}

 
.CreatePage .form-container{
    width: 80%;
    position: relative;
    left:10%;
    height: auto;
    
}
.BlogForm .quill{
    height: 30vw;
    margin-bottom: 0;
    position: relative;
    
}
.CreatePage.ql-container {
    max-height: 30vw;   
    overflow-y: auto;   
    font-family: 'Noto Sans', sans-serif;
}

.CreatePage.ql-container.ql-disabled .ql-tooltip{
    height: 30vw
}
body.BlogForm .ql-container {
    height: 25vw;
}
@media (max-width: 400px) {
    .ql-clean{
        display: none !important;
    }
  }