



.loginFormContainer {
    margin-top: 70px; /* 헤더와의 간격을 주기 위해 상단 마진 추가 */
    margin-bottom: -30px;
  }



  .loginFormContainer p  .passwordCss p {
    margin-bottom: 0px; /* 로그인 텍스트와 입력 필드 사이의 간격 */
    font-size: 20px;
    font-weight: bold;
  }
  

  
  .loginFormContainer input {
    margin-bottom: 30px; /* 입력 필드 간의 간격 */
    width: 95%; /* 입력 필드 너비 조정 */
    height: 30px;
    padding: 8px; /* 입력 필드 내부 패딩 */
  }

  .passwordCss input {
    margin-bottom: 20px; /* 입력 필드 간의 간격 */
    width: 95%; /* 입력 필드 너비 조정 */
    height: 30px;
    padding: 8px; /* 입력 필드 내부 패딩 */
  }
  
  
  .loginButton{ 
    width: 460px;
    height: 60px; 
    line-height: 30px;
    margin-right: 11px;
    margin-top: 40px;
    margin-bottom: 70px;
    
    border: none; 
    outline: 0;
    border-radius: 10px; 
    color: rgb(56, 56, 63);

    font-weight: bold;
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
}
.loginButton:hover{
    background-color: #48d1cc;
}

.signUpContainer{
  margin-top: 70px; /* 헤더와의 간격을 주기 위해 상단 마진 추가 */
    margin-bottom: -30px;
}


.signUpContainer p  .emailpost p {
  margin-bottom: 0px; /* 로그인 텍스트와 입력 필드 사이의 간격 */
  font-size: 20px;
  font-weight: bold;
}

.signUpContainer input {
  margin-bottom: 30px; /* 입력 필드 간의 간격 */
  width: 70%; /* 입력 필드 너비 조정 */
  height: 30px;
  padding: 8px; /* 입력 필드 내부 패딩 */
  margin-top: -10px;
}

.emailpost input {
  margin-bottom: 20px; /* 입력 필드 간의 간격 */
  width: 70%; /* 입력 필드 너비 조정 */
  height: 30px;
  padding: 8px; /* 입력 필드 내부 패딩 */
  margin-top: -10px;
}

.signupButton{ 
  width: 460px;
  height: 60px; 
  line-height: 30px;
  margin-right: 11px;
  margin-top: 40px;
  margin-bottom: 70px;
  
  border: none; 
  outline: 0;
  border-radius: 10px; 
  color: rgb(56, 56, 63);

  font-weight: bold;
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
}
.signupButton:hover{
  background-color: #48d1cc;
}

.post{
  
  margin-left: 10px;
  width: 100px;
  height: 50px;
  border: none; 
  outline: 0;
  color: rgb(56, 56, 63);

  font-weight: bold;
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
}

.post:hover{
  background-color: #48d1cc;
}

.findpasswordpost {
  margin-left: 10px;
  width: 100px;
  height: 50px;
  border: none; 
  outline: 0;
  color: rgb(56, 56, 63);

  font-weight: bold;
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
}
.findpasswordpost:hover{
  background-color: #052940;
}

