
.header-container {
    align-items: center; 
    width: 1200px; 
    min-width: 350px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.header-container img{
    margin-top:0.5vw;
    width: 150px;
    height: 40px;
}
.navbar-nav{
    font-size: 13px;
}


